<div class="contacts_table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Company name</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Svetlana</td>
                <td>Volokhova</td>
                <td>+79000000000</td>
                <td>svgmail.com</td>
                <td>NSPK</td>
                <td>Developer</td>
            </tr>
        </tbody>
    </table>
</div>