<div class="container">
    <div class="panel">
        <div class="panel_header">
            <div class="panel_header_lable">Create new contact</div>
            <div class="panel_header_cancle">
                <a href="index.html">
                    <img src="../../../assets/img/icon.png" alt="Close">
                </a> 
            </div>
        </div>

        <div class="panel_body">
            <div class="form">
                <form action="">
                    <div>
                        <label for="name">First name</label><br>
                        <input type="text" id="name" placeholder="Type the person’s phone number">
                    </div>
                    <div>
                        <label for="lastname">Last name</label><br>
                        <input type="text" id="lastname" placeholder="Type the person’s last name">
                    </div>
                    <div>
                        <label for="phone">Phone number</label><br>
                        <input type="tel" id="phone" placeholder="Type the person’s phone number">
                    </div>
                    <div>
                        <label for="email">Email</label><br>
                        <input type="email" id="email" placeholder="Type email address">
                    </div>
                    <div>
                        <label for="company_name">Company name</label><br>
                        <input type="text" id="company_name" placeholder="Type the person’s company name">
                    </div>
                    <div>
                        <label for="job_title">Job Title</label><br>
                        <input type="text" id="job_title" placeholder="«Sales Manager»,«Developer», etc.">
                    </div>
                </form>
            </div>

            <div class="form_buttons">
                <button onclick="window.location.href = 'index.html'" class="button_cancle">Cancel</button>
                <button onclick="window.location.href = 'index.html'" class="button_save">Save Contact</button>
            </div>
        </div>
    </div>
</div>